<ion-view view-title="Enerbox">
  <ion-content class="padding">

    <!-- Agregar iconos al proyecto
    <i class="icon ion-home"></i> -->

    <div class="list card">
      <div class="item item-divider item-stable">Dispositivo 1</div>
      <div class="item item-body">
        <div class="button-bar">
          <a class="button button-assertive" ng-click="powerOn(1)">On</a>
          <a class="button button-balanced" ng-click="powerOff(1)">Off</a>
        </div>
      </div>
    </div>



    <ul class="list">

        <li class="item item-toggle">
          <i class="ion-ios-lightbulb-outline"></i>
                Bombillo
          <label class="toggle toggle-positive">
              <input type="checkbox">
                    <div class="track">
                      <div class="handle"></div>
                    </div>
          </label>
        </li>
    </ul>

    <div class="list">
      <div class="item range range-calm">
        <i class="icon ion-ios-lightbulb-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33">
        <i class="ion-ios-lightbulb"></i>
      </div>
    </div>

    <ul class="list">

        <li class="item item-toggle">
          <i class="ion-ios-lightbulb-outline"></i>
                Bombillo 2
          <label class="toggle toggle-positive">
              <input type="checkbox">
                    <div class="track">
                      <div class="handle"></div>
                    </div>
          </label>
        </li>
    </ul>



    <ul class="list">

            <li class="item item-checkbox">
                    <label class="checkbox-assertive">
                  <input type="checkbox">
                  Bombillo Inteligente
                </label>
            </li>
    </ul>





  </ion-content>
</ion-view>
